<div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Carrito compra</span>
          <span class="badge badge-secondary badge-pill">{{listProductsToBuy.length}}</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let product of listProductsToBuy">
            <div>
              <h6 class="my-0">{{product.name}}</h6>
              <small class="text-muted">{{product.description}}</small>
              <button class="text-danger" (click)="delProduct(product.productId)">X</button>
            </div>
            <span class="text-muted">${{product.price}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total </span>
            <strong>$ {{totalCost}}</strong>
          </li>
        </ul>

        <form class="card p-2" action="form.html">
          <div class="input-group">
            <div class="input-group-append">
              <button type="submit"  class="btn btn-secondary">Solicitar</button>
            </div>
          </div>
        </form>


      </div>